<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>ch.drrius.nest.quietspike</string>
  <key>CFBundleName</key><string>Nest Quiet Spike</string>
  <key>CFBundleDisplayName</key><string>Quiet Spike</string>
  <key>CFBundleExecutable</key><string>QuietSpike</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>CFBundleShortVersionString</key><string>0.0.1</string>
  <key>LSRequiresIPhoneOS</key><true/>
  <key>UIDeviceFamily</key><array><integer>1</integer></array>
  <key>MinimumOSVersion</key><string>26.0</string>
  <key>UILaunchScreen</key><dict/>
</dict>
</plist>
